# Pandas Exercise

We have a data about spotify top 100 songs in 2018 from kaggle.

Data Description :

*   Spotify URI for the song
*   Name of the song
*   Artist(s) of the song
*   Audio features for the song (such as danceability, tempo, key etc.) : 
     1. danceability : Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
     
     2. tempo : The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
     
     3. duration_ms : The duration of the track in milliseconds.

In [2]:
import pandas as pd
import numpy as np

In [5]:
from google.colab import files
uploaded = files.upload()
import io
data = pd.read_csv(io.BytesIO(uploaded['02. top2018.csv']))

Saving 02. top2018.csv to 02. top2018 (2).csv

In [6]:
data.head()

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

## 1. Show Top 10 artists with the largest presence in the top 100 spotify songs in 2018

In [81]:
artist = data.groupby('artists')
artist = artist.count()
artist.sort_values('id', ascending = False, inplace = True)
artist = artist['id']
artist.head(10)

artists
Post Malone        6
XXXTENTACION       6
Drake              4
Ed Sheeran         3
Marshmello         3
Dua Lipa           2
Imagine Dragons    2
Ozuna              2
Selena Gomez       2
Clean Bandit       2
Name: id, dtype: int64

## 2. What is the longest duration of the top 100 spotify songs in 2018 ?

In [37]:
maxx = data['duration_ms']
maxx.max()

417920.0

## 3. Who and what songs has the longest duration of the top 100 spotify songs in 2018 ?

In [39]:
data.sort_values('duration_ms', ascending = False, inplace = True)
long = data[['artists','name']]
long.head(1)

       artists             name
21  Nio Garcia  Te Bot? - Remix

## 4. Show the total duration from the artists in the top 100 spotify songs in 2018 !

In [58]:
long = data[['artists','duration_ms']]
longg = long.groupby('artists')
long = longg.sum()
long.sort_values('duration_ms', ascending = False, inplace = True)
long

                   duration_ms
artists
Post Malone          1342027.0
Drake                 866259.0
XXXTENTACION          784703.0
Ed Sheeran            756663.0
Marshmello            597734.0
...                        ...
Portugal. The Man     163253.0
Loud Luxury           163216.0
Dennis Lloyd          156600.0
Lil Baby              142273.0
Bazzi                 131064.0

[70 rows x 1 columns]

## 5. Who artists has the average fastest tempo in the top 100 spotify song 2018 ?

In [62]:
fast = data[['artists','tempo']]
fast = fast.groupby('artists')
fast = fast.mean()
fast.sort_values('tempo', ascending = False, inplace = True)
fast

                     tempo
artists
Maluma             198.075
Keala Settle       191.702
Nicky Jam          180.073
ZAYN               180.043
Piso 21            170.019
...                    ...
benny blanco        89.391
G-Eazy              87.908
Juice WRLD          83.903
Natti Natasha       79.997
Portugal. The Man   79.028

[70 rows x 1 columns]

## 6. Who artists has the average danceable songs in the top 100 spotify song 2018 ?

In [63]:
dance = data[['artists','danceability']]
dance = dance.groupby('artists')
dance = dance.mean()
dance.sort_values('danceability', ascending = False, inplace = True)
dance

               danceability
artists
Lil Baby              0.964
6ix9ine               0.931
BlocBoy JB            0.922
Wolfine               0.909
Nio Garcia            0.903
...                     ...
DJ Khaled             0.552
Juice WRLD            0.511
Billie Eilish         0.351
Keala Settle          0.284
ZAYN                  0.258

[70 rows x 1 columns]

## 7. Can we achieve the information from the last 3 exercise in just 1 line ?

In [79]:
data[['artists','duration_ms','tempo','danceability']].groupby('artists').mean()

                       duration_ms    tempo  danceability
artists
5 Seconds of Summer  203418.000000  120.274      0.596000
6ix9ine              179405.000000  125.978      0.931000
Anitta               193456.000000  166.008      0.775000
Anne-Marie           186987.000000   96.133      0.697000
Ariana Grande        201733.500000  133.512      0.650500
...                            ...      ...           ...
XXXTENTACION         130783.833333  110.496      0.788833
ZAYN                 239000.000000  180.043      0.258000
Zac Efron            217440.000000  125.046      0.684000
Zedd                 184732.000000  107.010      0.753000
benny blanco         173800.000000   89.391      0.560000

[70 rows x 3 columns]