In [1]:
# import pandas, numpy, and load dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload()

Saving 01. homelessness.csv to 01. homelessness.csv

In [3]:
homelessness = pd.read_csv('01. homelessness.csv')
homelessness.drop(columns=['Unnamed: 0'], inplace=True)
homelessness

                region                 state  ...  family_members  state_pop
0   East South Central               Alabama  ...           864.0    4887681
1              Pacific                Alaska  ...           582.0     735139
2             Mountain               Arizona  ...          2606.0    7158024
3   West South Central              Arkansas  ...           432.0    3009733
4              Pacific            California  ...         20964.0   39461588
5             Mountain              Colorado  ...          3250.0    5691287
6          New England           Connecticut  ...          1696.0    3571520
7       South Atlantic              Delaware  ...           374.0     965479
8       South Atlantic  District of Columbia  ...          3134.0     701547
9       South Atlantic               Florida  ...          9587.0   21244317
10      South Atlantic               Georgia  ...          2556.0   10511131
11             Pacific                Hawaii  ...          2399.0    1420593
12            Mountain                 Idaho  ...           715.0    1750536
13  East North Central              Illinois  ...          3891.0   12723071
14  East North Central               Indiana  ...          1482.0    6695497
15  West North Central                  Iowa  ...          1038.0    3148618
16  West North Central                Kansas  ...           773.0    2911359
17  East South Central              Kentucky  ...           953.0    4461153
18  West South Central             Louisiana  ...           519.0    4659690
19         New England                 Maine  ...          1066.0    1339057
20      South Atlantic              Maryland  ...          2230.0    6035802
21         New England         Massachusetts  ...         13257.0    6882635
22  East North Central              Michigan  ...          3142.0    9984072
23  West North Central             Minnesota  ...          3250.0    5606249
24  East South Central           Mississippi  ...           328.0    2981020
25  West North Central              Missouri  ...          2107.0    6121623
26            Mountain               Montana  ...           422.0    1060665
27  West North Central              Nebraska  ...           676.0    1925614
28            Mountain                Nevada  ...           486.0    3027341
29         New England         New Hampshire  ...           615.0    1353465
30        Mid-Atlantic            New Jersey  ...          3350.0    8886025
31            Mountain            New Mexico  ...           602.0    2092741
32        Mid-Atlantic              New York  ...         52070.0   19530351
33      South Atlantic        North Carolina  ...          2817.0   10381615
34  West North Central          North Dakota  ...            75.0     758080
35  East North Central                  Ohio  ...          3320.0   11676341
36  West South Central              Oklahoma  ...          1048.0    3940235
37             Pacific                Oregon  ...          3337.0    4181886
38        Mid-Atlantic          Pennsylvania  ...          5349.0   12800922
39         New England          Rhode Island  ...           354.0    1058287
40      South Atlantic        South Carolina  ...           851.0    5084156
41  West North Central          South Dakota  ...           323.0     878698
42  East South Central             Tennessee  ...          1744.0    6771631
43  West South Central                 Texas  ...          6111.0   28628666
44            Mountain                  Utah  ...           972.0    3153550
45         New England               Vermont  ...           511.0     624358
46      South Atlantic              Virginia  ...          2047.0    8501286
47             Pacific            Washington  ...          5880.0    7523869
48      South Atlantic         West Virginia  ...           222.0    1804291
49  East North Central             Wisconsin  ...          2167.0    5807406
50            Mountain               Wyoming  ...           205.0     577601

[51 rows x 5 columns]

In [4]:
# Import pandas using the alias pd
import pandas as pd

# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

# Print a description of homelessness
print(homelessness.describe())

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB
None
(51, 5)
         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [5]:
# Print the values of homelessness
print(homelessness.values)

# Print the column index of homelessness
print(homelessness.columns)

# Print the row index of homelessness
print(homelessness.index)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
RangeIndex(start=0, stop=51, step=1)

1. Sort homelessness by the number of homeless individuals, from smallest to largest, and save this as homelessness_ind.
2. Print the head of the sorted DataFrame.

In [6]:
# Sort homelessness by individual
homelessness_ind = homelessness.sort_values('individuals')

# Print the top few rows
print(homelessness_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

1. Sort homelessness by the number of homeless family_members in descending order, and save this as homelessness_fam.
2. Print the head of the sorted DataFrame.

In [7]:
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values('family_members', ascending=False)

# Print the top few rows
print(homelessness_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

1. Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as homelessness_reg_fam.
2. Print the head of the sorted DataFrame.

In [8]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(['region', 'family_members'], ascending = [True, False])

# Print the top few rows
print(homelessness_reg_fam.head())

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

1. Create a DataFrame called individuals that contains only the individuals column of homelessness.
2. Print the head of the result.

In [9]:
# Select the individuals column
individuals = homelessness['individuals']

# Print the head of the result
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

1. Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order.
2. Print the head of the result.

In [10]:
# Select the state and family_members columns
state_fam = homelessness[['state', 'family_members']]

# Print the head of the result
print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

1. Create a DataFrame called ind_state that contains the individuals and state columns of homelessness, in that order.
2. Print the head of the result.

In [11]:
# Select only the individuals and state columns, in that order
ind_state = homelessness[['individuals', 'state']]

# Print the head of the result
print(ind_state.head())

   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California

Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [12]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness['individuals']>10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.

In [13]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness['region']== 'Mountain']

# See the result
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [14]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness['family_members']< 1000) & (homelessness['region'] == 'Pacific')]

# See the result
print(fam_lt_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result

In [15]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[(homelessness['region'] == 'South Atlantic') | (homelessness['region'] == 'Mid-Atlantic')]

# See the result
print(south_mid_atlantic)

            region                 state  ...  family_members  state_pop
7   South Atlantic              Delaware  ...           374.0     965479
8   South Atlantic  District of Columbia  ...          3134.0     701547
9   South Atlantic               Florida  ...          9587.0   21244317
10  South Atlantic               Georgia  ...          2556.0   10511131
20  South Atlantic              Maryland  ...          2230.0    6035802
30    Mid-Atlantic            New Jersey  ...          3350.0    8886025
32    Mid-Atlantic              New York  ...         52070.0   19530351
33  South Atlantic        North Carolina  ...          2817.0   10381615
38    Mid-Atlantic          Pennsylvania  ...          5349.0   12800922
40  South Atlantic        South Carolina  ...           851.0    5084156
46  South Atlantic              Virginia  ...          2047.0    8501286
48  South Atlantic         West Virginia  ...           222.0    1804291

[12 rows x 5 columns]

Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [16]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

# See the result
print(mojave_homelessness)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

1. Add a new column to homelessness, named total, containing the sum of the individuals and family_members columns.
2. Add another column to homelessness, named p_individuals, containing the proportion of homeless people in each state who are individuals.

In [17]:
# Add total col as sum of individuals and family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# Add p_individuals col as proportion of individuals
homelessness['p_individuals'] = homelessness['individuals'] / homelessness['total']

# See the result
print(homelessness)

                region                 state  ...     total  p_individuals
0   East South Central               Alabama  ...    3434.0       0.748398
1              Pacific                Alaska  ...    2016.0       0.711310
2             Mountain               Arizona  ...    9865.0       0.735834
3   West South Central              Arkansas  ...    2712.0       0.840708
4              Pacific            California  ...  129972.0       0.838704
5             Mountain              Colorado  ...   10857.0       0.700654
6          New England           Connecticut  ...    3976.0       0.573441
7       South Atlantic              Delaware  ...    1082.0       0.654344
8       South Atlantic  District of Columbia  ...    6904.0       0.546060
9       South Atlantic               Florida  ...   31030.0       0.691041
10      South Atlantic               Georgia  ...    9499.0       0.730919
11             Pacific                Hawaii  ...    6530.0       0.632619
12            Mountain                 Idaho  ...    2012.0       0.644632
13  East North Central              Illinois  ...   10643.0       0.634408
14  East North Central               Indiana  ...    5258.0       0.718144
15  West North Central                  Iowa  ...    2749.0       0.622408
16  West North Central                Kansas  ...    2216.0       0.651173
17  East South Central              Kentucky  ...    3688.0       0.741594
18  West South Central             Louisiana  ...    3059.0       0.830337
19         New England                 Maine  ...    2516.0       0.576312
20      South Atlantic              Maryland  ...    7144.0       0.687850
21         New England         Massachusetts  ...   20068.0       0.339396
22  East North Central              Michigan  ...    8351.0       0.623758
23  West North Central             Minnesota  ...    7243.0       0.551291
24  East South Central           Mississippi  ...    1352.0       0.757396
25  West North Central              Missouri  ...    5883.0       0.641849
26            Mountain               Montana  ...    1405.0       0.699644
27  West North Central              Nebraska  ...    2421.0       0.720777
28            Mountain                Nevada  ...    7544.0       0.935578
29         New England         New Hampshire  ...    1450.0       0.575862
30        Mid-Atlantic            New Jersey  ...    9398.0       0.643541
31            Mountain            New Mexico  ...    2551.0       0.764014
32        Mid-Atlantic              New York  ...   91897.0       0.433387
33      South Atlantic        North Carolina  ...    9268.0       0.696051
34  West North Central          North Dakota  ...     542.0       0.861624
35  East North Central                  Ohio  ...   10249.0       0.676066
36  West South Central              Oklahoma  ...    3871.0       0.729269
37             Pacific                Oregon  ...   14476.0       0.769481
38        Mid-Atlantic          Pennsylvania  ...   13512.0       0.604130
39         New England          Rhode Island  ...    1101.0       0.678474
40      South Atlantic        South Carolina  ...    3933.0       0.783626
41  West North Central          South Dakota  ...    1159.0       0.721311
42  East South Central             Tennessee  ...    7883.0       0.778764
43  West South Central                 Texas  ...   25310.0       0.758554
44            Mountain                  Utah  ...    2876.0       0.662031
45         New England               Vermont  ...    1291.0       0.604183
46      South Atlantic              Virginia  ...    5975.0       0.657406
47             Pacific            Washington  ...   22304.0       0.736370
48      South Atlantic         West Virginia  ...    1243.0       0.821400
49  East North Central             Wisconsin  ...    4907.0       0.558386
50            Mountain               Wyoming  ...     639.0       0.679186

[51 rows x 7 columns]

1. Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state.
2. Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.
3. Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.
4. Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.

In [18]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] / homelessness['state_pop'] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness['indiv_per_10k'] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values('indiv_per_10k', ascending= False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state', 'indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363