In [1]:
# import pandas, numpy, and load dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
from google.colab import files
uploaded = files.upload()

Saving business_owners.p to business_owners.p
Saving census.p to census.p
Saving land_use.p to land_use.p
Saving licenses.p to licenses.p
Saving taxi_vehicles.p to taxi_vehicles (1).p
Saving ward.p to ward.p
Saving zip_demo.p to zip_demo.p

In [30]:
from google.colab import files
uploaded = files.upload()

Saving cta_calendar.p to cta_calendar.p
Saving cta_ridership.p to cta_ridership.p
Saving stations.p to stations.p

In [31]:
ridership = pd.read_pickle(r'cta_ridership.p')
cal = pd.read_pickle(r'cta_calendar.p')
stations = pd.read_pickle(r'stations.p')

In [38]:
taxi_owners = pd.read_pickle(r'taxi_vehicles.p')
taxi_veh = pd.read_pickle(r'taxi_vehicles (1).p')
wards = pd.read_pickle(r'ward.p')
census = pd.read_pickle(r'census.p')
licenses = pd.read_pickle(r'licenses.p')
biz_owners = pd.read_pickle(r'business_owners.p')
zip_demo = pd.read_pickle(r'zip_demo.p')
land_use = pd.read_pickle(r'land_use.p')
wards_altered = wards
census_altered = census
taxi_owners

       vid     make    model  year  fuel_type                owner
0     2767   TOYOTA    CAMRY  2013     HYBRID       SEYED M. BADRI
1     1411   TOYOTA     RAV4  2017     HYBRID          DESZY CORP.
2     6500   NISSAN   SENTRA  2019   GASOLINE       AGAPH CAB CORP
3     2746   TOYOTA    CAMRY  2013     HYBRID  MIDWEST CAB CO, INC
4     5922   TOYOTA    CAMRY  2013     HYBRID       SUMETTI CAB CO
...    ...      ...      ...   ...        ...                  ...
3514  5902   TOYOTA    CAMRY  2013     HYBRID            SAFAR INC
3515  1407  HYUNDAI  ELANTRA  2018   GASOLINE    MYKONOS CAB CORP.
3516   854   TOYOTA    CAMRY  2012     HYBRID      JOELIZ CORP INC
3517  6274   TOYOTA    CAMRY  2012     HYBRID          A K O S INC
3518  4675     FORD   ESCAPE  2011  FLEX FUEL           MAJAZ CORP

[3519 rows x 6 columns]

Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.

In [8]:
# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid')

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)

Index(['vid', 'make_x', 'model_x', 'year_x', 'fuel_type_x', 'owner_x',
       'make_y', 'model_y', 'year_y', 'fuel_type_y', 'owner_y'],
      dtype='object')

Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.

In [9]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid',suffixes=('_own', '_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

Index(['vid', 'make_own', 'model_own', 'year_own', 'fuel_type_own',
       'owner_own', 'make_veh', 'model_veh', 'year_veh', 'fuel_type_veh',
       'owner_veh'],
      dtype='object')

Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.

In [14]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type_veh'].value_counts())

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type_veh, dtype: int64

Merge wards and census on the ward column and save the result to wards_census.

In [18]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on = 'ward')

# Print the shape of wards_census
print(wards_census.shape)

(50, 9)

Merge the wards_altered and census tables on the ward column, and notice the difference in returned rows.

In [21]:
# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on='ward')

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)

  ward
0    1
1    2
2    3
3    4
4    5
wards_altered_census table shape: (50, 9)

Merge the wards and census_altered tables on the ward column, and notice the difference in returned rows.

In [22]:
# Change '1' to None in `ward` col
census.loc[census['ward'] == '1', 'ward'] = None

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print(wards_census.shape)

(49, 9)

1. Starting with the licenses table on the left, merge it to the biz_owners table on the column account, and save the results to a variable named licenses_owners.
2. Group licenses_owners by title and count the number of accounts for each title. Save the result as counted_df
3. Sort counted_df by the number of accounts in descending order, and save this as a variable named sorted_df.
4. Use the .head() method to print the first few rows of the sorted_df.

**HINT!**
* Your merge should have a pattern similar to df1.merge(df2, on='col').
* Set the ascending argument to False in the .sort_values() method to sort values in descending order.
* Inside the print() function, enter the sorted_df variable and add .head() behind it.

In [28]:
# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on='account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values('account', ascending = False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

1. Merge the ridership and cal tables together, starting with the ridership table on the left and save the result to the variable ridership_cal. If you code takes too long to run, your merge conditions might be incorrect.
2. Extend the previous merge to three tables by also merging the stations table.
3. Create a variable called filter_criteria to select the appropriate rows from the merged table so that you can sum the rides column.

In [33]:
# Merge the ridership and cal tables
ridership_cal = ridership.merge(cal,on=['day', 'year', 'month'])
                
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
							.merge(stations, on='station_id')

# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7) 
                   & (ridership_cal_stations['day_type'] == 'Weekday') 
                   & (ridership_cal_stations['station_name'] == 'Wilson'))

# Use .loc and the filter to select for rides
print(ridership_cal_stations.loc[filter_criteria, 'rides'].sum())

140005

1. Starting with the licenses table, merge to it the zip_demo table on the zip column. Then merge the resulting table to the wards table on the ward column. Save result of the three merged tables to a variable named licenses_zip_ward.
2. Group the results of the three merged tables by the column alderman and find the median income.

**HINT!**
* Your merge should have a pattern similar to 
```
  df1.merge(df2, on='col')
    .merge(df3, on='col').
```
* The .groupby() should be placed after the output DataFrame, and the first argument should be what you want to group the data by.

In [36]:
# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on = 'zip') \
            			.merge(wards, on ='ward')

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

                           income
alderman
Ameya Pawar                 66246
Anthony A. Beale            38206
Anthony V. Napolitano       82226
Ariel E. Reyboras           41307
Brendan Reilly             110215
Brian Hopkins               87143
Carlos Ramirez-Rosa         66246
Carrie M. Austin            38206
Chris Taliaferro            55566
Daniel "Danny" Solis        41226
David H. Moore              33304
Deborah Mell                66246
Debra L. Silverstein        50554
Derrick G. Curtis           65770
Edward M. Burke             42335
Emma M. Mitts               36283
George Cardenas             33959
Gilbert Villegas            41307
Gregory I. Mitchell         24941
Harry Osterman              45442
Howard B. Brookins, Jr.     33304
James Cappleman             79565
Jason C. Ervin              41226
Joe Moore                   39163
John S. Arena               70122
Leslie A. Hairston          28024
Margaret Laurino            70122
Marty Quinn                 67045
Matthew J. O'Shea           59488
Michael R. Zalewski         42335
Michael Scott, Jr.          31445
Michelle A. Harris          32558
Michelle Smith             100116
Milagros "Milly" Santiago   41307
Nicholas Sposato            62223
Pat Dowell                  46340
Patrick Daley Thompson      41226
Patrick J. O'Connor         50554
Proco "Joe" Moreno          87143
Raymond A. Lopez            33959
Ricardo Munoz               31445
Roberto Maldonado           68223
Roderick T. Sawyer          32558
Scott Waguespack            68223
Susan Sadlowski Garza       38417
Tom Tunney                  88708
Toni L. Foulkes             27573
Walter Burnett, Jr.         87143
William D. Burns           107811
Willie B. Cochran           28024

1. Merge land_use and census on the ward column. Merge the result of this with licenses on the ward column, using the suffix _cen for the left table and _lic for the right table. Save this to the variable land_cen_lic.
2. Group land_cen_lic by ward, pop_2010 (the population in 2010), and vacant, then count the number of accounts. Save the results to pop_vac_lic.
3. Sort pop_vac_lic by vacant, account, andpop_2010 in descending, ascending, and ascending order respectively. Save it as sorted_pop_vac_lic.

In [39]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(['vacant', 'account', 'pop_2010'], 
                                             ascending=[False, True, True])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

   ward  pop_2010  vacant  account
47    7     51581      19       80
12   20     52372      15      123
1    10     51535      14      130
16   24     54909      13       98
7    16     51954      13      156