In [1]:
# import pandas, numpy, and load dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload()

Saving short_movies.csv to short_movies.csv

In [23]:
movies = pd.read_csv('short_movies.csv')
movies

       id    tag  ...                                               text  target
0       0  cv000  ...  films adapted from comic books have had plenty...     pos
1       0  cv000  ...  for starters , it was created by alan moore ( ...     pos
2       0  cv000  ...  to say moore and campbell thoroughly researche...     pos
3       0  cv000  ...  the book ( or " graphic novel , " if you will ...     pos
4       0  cv000  ...  in other words , don't dismiss this film becau...     pos
...    ..    ...  ...                                                ...     ...
19995   6  cv615  ...  wilder's script is stunning , as he carefully ...     pos
19996   6  cv615  ...  wilder manages to create scenes of utter hyste...     pos
19997   6  cv615  ...  wilder's is dead wrong when he says nobody's p...     pos
19998   6  cv615  ...                nobody's perfect but billy wilder .     pos
19999   6  cv616  ...  a welcome cinematic trend over the past couple...     pos

[20000 rows x 6 columns]

1. Find out how many characters the variable movie has.
2. Convert the numeric variable length_string to a string representation.
3. Concatenate the predefined variable statement and the variable to_string adding a space between them. Print out the result.

**HINT!**

* To print out the concatenation of the string1 and string2, print(string1+string2) can be used. Don't forget to add a space (" ") between both strings.

In [8]:
movie = 'fox and kelley soon become bitter rivals because the new fox books store is opening up right across the block from the small business .'

In [9]:
# Find characters in movie variable
length_string = len(movie)

# Convert to string
to_string = str(length_string)

# Predefined variable
statement = "Number of characters in this review:"

# Concatenate strings and print result
print(statement+" "+to_string)

Number of characters in this review: 135

1. Select the first 32 characters of the variable movie1 and assign it to the variable first_part.
2. Select the substring going from the 43rd character to the end of movie1. Assign it to the variable last_part
3. Select the substring going from the 33rd to the 42nd character of movie2. Assign it to the variable middle_part.
4. Print the concatenation of the variables first_part, middle_part and last_part in that order. Print the variable movie2 and compare them.

**HINT!**

* To select the first n characters of a variable, use variable[:n]. Second index is not included in the resultant substring.
* To select a substring from the nth character to the end of a variable, use variable[n-1:]. Indices in python are 0-based.

In [10]:
movie1 = 'the most significant tension of _election_ is the potential relationship between a teacher and his student .'
movie2 = 'the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .'

In [11]:
# Select the first 32 characters of movie1
first_part = movie1[:32]

# Select from 43rd character to the end of movie1
last_part = movie1[42:]

# Select from 33rd to the 42nd character
middle_part = movie2[32:42]

# Print concatenation and movie2 variable
print(first_part+middle_part+last_part) 
print(movie2)

the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .
the most significant tension of _rushmore_ is the potential relationship between a teacher and his student .

1. Extract the substring from the 12th to the 30th character from the variable movie which corresponds to the movie title. Store it in the variable movie_title.
2. Get the palindrome by reversing the string contained in movie_title.
3. Complete the code to print out the movie_title if it is a palindrome.

**HINT!**

* To select a substring going from the mth to the nth character of a variable, use variable[m-1:n].
* Remember that if you use -1 as a third index and you don't specify the first two you can get your string backwards.
* Use print() and the variable movie_title.

In [12]:
movie = 'oh my God! desserts I stressed was an ugly movie'

In [13]:
# Get the word
movie_title = movie[11:30]

# Obtain the palindrome
palindrome = movie_title[::-1]

# Print the word if it's a palindrome
if movie_title == palindrome:
	print(movie_title)

desserts I stressed

1. Convert the string in the variable movie to lowercase. Print the result.
2. Remove the $ that occur at the start and at the end of the string contained in movie_lower. Print the results.
3. Split the string contained in movie_no_sign into as many substrings as possible. Print the results.
4. To get the root of the second word contained in movie_split, select all the characters except the last one.

**HINT!**

* To convert to lowercase a string, use string.lower().
* To remove a char of a string from the beginning and the end, use string.strip(char).
* To split a string, use string.split().

In [14]:
movie = '$I supposed that coming from MTV Films I should expect no less$'

In [15]:
# Convert to lowercase and print the result
movie_lower = movie.lower()
print(movie_lower)

# Remove specified character and print the result
movie_no_sign = movie_lower.strip("$")
print(movie_no_sign)

# Split the string into substrings and print the result
movie_split = movie_no_sign.split()
print(movie_split)

# Select root word and print the result
word_root = movie_split[1][:-1]
print(word_root)

$i supposed that coming from mtv films i should expect no less$
i supposed that coming from mtv films i should expect no less
['i', 'supposed', 'that', 'coming', 'from', 'mtv', 'films', 'i', 'should', 'expect', 'no', 'less']
suppose

1. Remove tag <\i> from the end of the string. Print the results.
2. Split the string contained in movie_tag using the commas as a separating element. Print the results.
3. Join back together the list of substring contained in movie_no_comma using a space as a join element. Print the results.

**HINT!**

* To remove a char from the end of a string, use string.rstrip(char).
* To split a string using a char as a separating element, use string.split(char).
* To join a list of substring using a char as join elements, use "char".join(list).

In [16]:
movie = 'the film,however,is all good<\\i>'

In [18]:
# Remove tags happening at the end and print results
movie_tag = movie.rstrip("<\i>")
print(movie_tag)

# Split the string using commas and print results
movie_no_comma = movie_tag.split(",")
print(movie_no_comma)

# Join back together and print results
movie_join = " ".join(movie_no_comma)
print(movie_join)

the film,however,is all good
['the film', 'however', 'is all good']
the film however is all good

1. Split the string file into many substrings at line boundaries.
2. Print out the resulting variable file_split.
3. Complete the for-loop to split the strings into many substrings using commas as a separator element.

**HINT!**

* To split a string at line boundaries, use string.splitlines().
* To print out a variable, use print(variable).
* To split a string using a char as separator element, use string.split(char).

In [17]:
file = 'mtv films election, a high school comedy, is a current example\nfrom there, director steven spielberg wastes no time, taking us into the water on a midnight swim'

In [19]:
# Split string at line boundaries
file_split = file.splitlines()

# Print file_split
print(file_split)

# Complete for-loop to split by commas
for substring in file_split:
    substring_split = substring.split(",")
    print(substring_split)

['mtv films election, a high school comedy, is a current example', 'from there, director steven spielberg wastes no time, taking us into the water on a midnight swim']
['mtv films election', ' a high school comedy', ' is a current example']
['from there', ' director steven spielberg wastes no time', ' taking us into the water on a midnight swim']

In [1]:
movies = ["heck , jackie doesn't even have enough money for a haircut , looks like , much less a personal hairstylist .",
"in condor , chan plays the same character he's always played , himself , a mixture of bruce lee and tim allen , a master of both kung-fu and slapstick-fu ."
]

In [2]:
for movie in movies:
  # Find the first occurrence of word
  print(movie.find('money', 12, 51))

39
-1

In [ ]:
for movie in movies:
  try:
    # Find the first occurrence of word
  	print(movie.index("money", 12, 51))
  except ValueError:
    print("substring not found")

In [3]:
movies = "the rest of the story isn't important because all it does is serve as a mere backdrop for the two stars to share the screen ."

In [4]:
# Replace negations 
movies_no_negation = movies.replace("isn't", "is")

# Replace important
movies_antonym = movies_no_negation.replace("important", "insignificant")

# Print out
print(movies_antonym)

the rest of the story is insignificant because all it does is serve as a mere backdrop for the two stars to share the screen .