In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import sys, os, scipy, sklearn
import sklearn.metrics, sklearn.preprocessing, sklearn.model_selection, sklearn.tree, sklearn.linear_model, sklearn.cluster

In [3]:
from google.colab import files
uploaded = files.upload()

Saving indian_liver_patient_preprocessed.csv to indian_liver_patient_preprocessed.csv
Saving indian_liver_patient.csv to indian_liver_patient.csv

In [4]:
auto = pd.read_csv('auto.csv')
auto.head()

    mpg  displ   hp  weight  accel  origin  size
0  18.0  250.0   88    3139   14.5      US  15.0
1   9.0  304.0  193    4732   18.5      US  20.0
2  36.1   91.0   60    1800   16.4    Asia  10.0
3  18.5  250.0   98    3525   19.0      US  15.0
4  34.3   97.0   78    2188   15.8  Europe  10.0

In [15]:
X = auto[['displ', 'hp', 'weight', 'accel', 'size', 'origin']]
y = auto['mpg']

In [25]:
OneHotEncoder = sklearn.preprocessing.OneHotEncoder()
OneHotEncodings = OneHotEncoder.fit_transform(auto[['origin']]).toarray()
OneHotEncodings = pd.DataFrame(OneHotEncodings,
                               columns = ['origin_'+header for header in OneHotEncoder.categories_[0]])

X = X.drop(columns = 'origin').reset_index(drop=True)
X = pd.concat((X,OneHotEncodings),axis=1)

In [26]:
X.head()

   displ   hp  weight  accel  size  origin_Asia  origin_Europe  origin_US
0  250.0   88    3139   14.5  15.0          0.0            0.0        1.0
1  304.0  193    4732   18.5  20.0          0.0            0.0        1.0
2   91.0   60    1800   16.4  10.0          1.0            0.0        0.0
3  250.0   98    3525   19.0  15.0          0.0            0.0        1.0
4   97.0   78    2188   15.8  10.0          0.0            1.0        0.0

In [28]:
from sklearn.tree import DecisionTreeRegressor

In [27]:
# Import train_test_split from sklearn.model_selection
from sklearn.model_selection import train_test_split

# Set SEED for reproducibility
SEED = 1

# Split the data into 70% train and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=SEED)

# Instantiate a DecisionTreeRegressor dt
dt = DecisionTreeRegressor(max_depth=4, min_samples_leaf=0.26, random_state=SEED)

## Evaluate the 10-fold CV error

1. Compute dt's 10-fold cross-validated MSE by setting the scoring argument to 'neg_mean_squared_error'.
2. Compute RMSE from the obtained MSE scores.

**HINT!**

* Use cross_val_score() to compute 10-fold cross-validated MSE.
* Call the .mean() method on MSE_CV_scores and then find its square root to calculate the RMSE.

In [32]:
# Compute the array containing the 10-folds CV MSEs
MSE_CV_scores = - cross_val_score(dt, X_train, y_train, cv=10, 
                                  scoring='neg_mean_squared_error', 
                                  n_jobs=-1) 

# Compute the 10-folds CV RMSE
RMSE_CV = (MSE_CV_scores.mean())**(1/2)

# Print RMSE_CV
print('CV RMSE: {:.2f}'.format(RMSE_CV))

CV RMSE: 5.14

## Evaluate the training error

1. Import mean_squared_error as MSE from sklearn.metrics.
2. Fit dt to the training set.
3. Predict dt's training set labels and assign the result to y_pred_train.
4. Evaluate dt's training set RMSE and assign it to RMSE_train.

In [30]:
# Import mean_squared_error from sklearn.metrics as MSE
from sklearn.metrics import mean_squared_error as MSE

# Fit dt to the training set
dt.fit(X_train, y_train)

# Predict the labels of the training set
y_pred_train = dt.predict(X_train)

# Evaluate the training set RMSE of dt
RMSE_train = (MSE(y_train, y_pred_train))**(1/2)

# Print RMSE_train
print('Train RMSE: {:.2f}'.format(RMSE_train))

Train RMSE: 5.15

Define the ensemble

In [34]:
indian = pd.read_csv('indian_liver_patient_preprocessed.csv')
indian.head()

   Unnamed: 0   Age_std  ...  Is_male_std  Liver_disease
0           0  1.247403  ...            0              1
1           1  1.062306  ...            1              1
2           2  1.062306  ...            1              1
3           3  0.815511  ...            1              1
4           4  1.679294  ...            1              1

[5 rows x 12 columns]

In [45]:
X = indian[['Unnamed: 0', 'Age_std', 'Total_Bilirubin_std', 'Direct_Bilirubin_std',
       'Alkaline_Phosphotase_std', 'Alamine_Aminotransferase_std',
       'Aspartate_Aminotransferase_std', 'Total_Protiens_std', 'Albumin_std',
       'Albumin_and_Globulin_Ratio_std', 'Is_male_std']]
y = indian['Liver_disease']

In [46]:
# Split the data into 70% train and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=SEED)

In [47]:
# Import LogisticRegression from sklearn.linear_model
from sklearn.linear_model import  LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [48]:
# Set seed for reproducibility
SEED=1

# Instantiate lr
lr = LogisticRegression(random_state=SEED)

# Instantiate knn
knn = KNeighborsClassifier(n_neighbors=27)

# Instantiate dt
dt = DecisionTreeClassifier(min_samples_leaf=0.13, random_state=SEED)

# Define the list classifiers
classifiers = [('Logistic Regression', lr), ('K Nearest Neighbours', knn), ('Classification Tree', dt)]

## Evaluate individual classifiers

1. Iterate over the tuples in classifiers. Use clf_name and clf as the for loop variables:
2. Fit clf to the training set.
3. Predict clf's test set labels and assign the results to y_pred.
4. Evaluate the test set accuracy of clf and print the result.

In [50]:
from sklearn.metrics import accuracy_score

In [51]:
# Iterate over the pre-defined list of classifiers
for clf_name, clf in classifiers:    
  
    # Fit clf to the training set
    clf.fit(X_train, y_train)    
  
    # Predict y_pred
    y_pred = clf.predict(X_test)
    
    # Calculate accuracy
    accuracy = accuracy_score(y_test, y_pred)
  
    # Evaluate clf's accuracy on the test set
    print('{:s} : {:.3f}'.format(clf_name, accuracy))

Logistic Regression : 0.764
K Nearest Neighbours : 0.724
Classification Tree : 0.730

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

## Better performance with a Voting Classifier

1. Import VotingClassifier from sklearn.ensemble.
2. Instantiate a VotingClassifier by setting the parameter estimators to classifiers and assign it to vc.
3. Fit vc to the training set.
4. Evaluate vc's test set accuracy using the test set predictions y_pred.

In [52]:
# Import VotingClassifier from sklearn.ensemble
from sklearn.ensemble import VotingClassifier

# Instantiate a VotingClassifier vc 
vc = VotingClassifier(estimators=classifiers)     

# Fit vc to the training set
vc.fit(X_train, y_train)   

# Evaluate the test set predictions
y_pred = vc.predict(X_test)

# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)
print('Voting Classifier: {:.3f}'.format(accuracy))

Voting Classifier: 0.764

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)